// Listing Homepage

.padding-list{
	padding-left: 1rem;
	padding-right: 1rem;
}

.recent-works{
	padding-left: 4.5rem;
	padding-right: 4.5rem;
	padding-bottom: 0;
	padding-top: 6.25rem;
	.featured-heading{
		border-bottom: 1px solid $black;
		padding-bottom: 8px;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-bottom: 0px;
		h2{
			font-family: 'AlethiaPro-Regular';
			font-size: 2.188rem;
            line-height: 1.26;
            color: $black;
		}
		button,a{
			font-family: 'Barlow';
			font-size: 20;
			line-height: 24px;
			color: $black;
			border: 1px solid $black;
			border-radius: 0;
			.icon{
				color: $black;
			}
		}
	}
}



// Listing Homepage

.project-thumbnail{
	padding-left: 4.5rem;
	padding-right: 4.5rem;
	padding-bottom: 0rem;
	padding-top: 1.5rem;

	.column{
		padding-left: 1rem;
		padding-right: 1rem;
		margin-bottom: 1.5rem;
	}
	.card{
		box-shadow: none;
		padding-left: 0;
		margin-bottom: 1.75rem;
	}

	.card-content{
		padding-top: 1.375rem;
		margin-bottom: 0;
		padding-bottom: 0px;
	}

	.card-content-stories{
		@extend .card-content;
		margin-bottom: 48px;
	}

	.proj-cat{
		font-family: 'Barlow';
		color: $green;
		font-size: 0.688rem;
		font-weight: bold;
		margin-bottom: .5rem;
		line-height: 1.18;
  		letter-spacing: 1.3px;
		text-transform: uppercase;
	}
	.proj-cat-stories{
		@extend .proj-cat;
		font-size: 0.938rem;
		line-height: 1.2;
		  letter-spacing: 1.5px;
		  margin-bottom: 0.75rem;
	}
	.proj-title{
		font-family: 'AlethiaPro-Regular';
		color: $black;
		font-size: 1.813rem;
		line-height: 1.1;
		font-weight: 500;
	}

	.featured-proj-title{
		@extend .proj-title;
		font-size: 40px;
		line-height: 44px;
	}

	.proj-excerpt{
		font-family: 'Cormorant Garamond';
		font-size: 1.5rem;
		line-height: 1.21;
		letter-spacing: normal;
		padding-top: 24px;
		color: $black;
	}

}

.read-the-stories{
	@extend .recent-works;
	padding-top: 4.25rem;
}



// Listing Read Next

.read-next-journal{
	margin-bottom: 4em;
	.read-next-title{
		padding-bottom: 0;
		.featured-heading{
			border-bottom: 1px solid $black;
			h2{
				font-family: 'AlethiaPro-Regular';
				font-size: 2.188rem;
				line-height: 1.26;
				color: $black;
			}
			padding-bottom: 12px;
			margin-bottom: 0px;
			button,a{
				font-family: 'Barlow';
				font-size: 20;
				line-height: 24px;
				color: $black;
				border: 1px solid $black;
				border-radius: 0;
				.icon{
					color: $black;
				}
			}
		}
	}

	.read-next-thumbnail{
		padding-bottom: 0rem;
		padding-top: 2rem;
	
		.column{
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.card{
			box-shadow: none;
			padding-left: 0;
			margin-bottom: 1.75rem;
		}
	
		.card-content{
			padding-top: 1.5rem;
		}
	
		.proj-cat{
			font-family: 'Barlow';
			color: $green;
			font-size: 12px;
			line-height: 1.2;
			font-weight: 700;
			margin-bottom: 12px;
			letter-spacing: 1.3pt;
			text-transform: uppercase;
		}
		.proj-title{
			font-family: 'AlethiaPro-Regular';
			color: $black;
			font-size: 28px;
			line-height: 32px;
			font-weight: 500;
		}
	
		.featured-proj-title{
			@extend .proj-title;
			font-size: 40px;
			line-height: 44px;
		}
	
	}
}



// Listing Journal

.journal-list{
	padding: 2em;
	margin-top: 1em;
	.image-container{

	}

	.card-content{
		padding-top: 1em;
		padding-left: 0;
		padding-right: 0;
	}

	.proj-date{
		font-family: 'Barlow';
		color: #436d6e;
		font-size: 0.688rem;
		line-height: 1.23;
		font-weight: 500;
		margin-bottom: 8px;
		letter-spacing: 1.3pt;
		text-transform: uppercase;
	}

	.proj-cat{
		font-family: 'Barlow';
		color: $green;
		font-size: 0.813rem;
		line-height: 1.23;
		font-weight: 700;
		margin-bottom: 4px;
		letter-spacing: 1.3pt;
		text-transform: uppercase;
	}

	.proj-title{
		font-family: 'AlethiaPro-Regular';
		color: $black;
		font-size: 28px;
		line-height: 32px;
		font-weight: 500;
		letter-spacing: normal;
	}

	.proj-title:hover{
		color: $green;
	}

	.proj-excerpt{
		font-family: 'Cormorant Garamond';
		font-size: 1.5rem;
		line-height: 1.21;
		letter-spacing: normal;
		padding-top: 24px;
		color: $black;
	}
}




// Listing Photography

.photography-list{
	@extend .journal-list;
	.featured-image{
		height: 100vh;
		margin-top: -127px;
	}

	.container-relative{
		position: relative;
		bottom: 0;
	}
	.padding-featured{
		padding-left: 2.5rem;
		position: absolute;
		bottom: 2.5rem;
		right: 0;
	}
}