
.navbar, .navbar-brand, .navbar-mid, .navbar-end{
	height: 56px;
	padding: 12px;
	background: transparent;
	// border-bottom: 1px solid $black;
	margin-bottom: 0px;
}

.border-bottom{
	border-bottom: 1px solid $black;
}

.brand-logo{
	height: 36px;
	padding-bottom: 2px;
}

.social-logo{
    height: 24px;
    padding: 0;
}



.navbar-home{
    position: absolute !important;
    width: 100%;

    .search{
        height: 36px;
        padding-bottom: 2px;
        padding-right: 36px;
    }

}

.navbar-general{
    width: 100%;
    .navbar-mid{
        padding-left: 3em;
    }

    .search{
        height: 36px;
        padding-bottom: 2px;
        padding-right: 0px;
    }

    .second-row{
        padding-right: 0px;
    }
}





.first-row{
    .brand-logo{
        height: 36px;
        padding-bottom: 2px;
    }
    .search-top-right{
        position: absolute;
        right: 0;
    }
}





.second-row{
    padding-top: 0px !important;
    padding-right: 36px;
    padding-left: 20px;

    .level{
        align-items: flex-start;
        padding-top: 8px;
    }

    h1{
        font-family: 'AlethiaPro-Regular';
        font-size: 3rem;
        line-height: 3.75rem;
        text-align: center;
        margin-bottom: 0;
        align-items: center;
    }
    .breadcrumb{
        font-family: 'Barlow';
        font-size: 1rem;
        line-height: 2.14;
        color: $black;
        text-transform: uppercase;
        padding-top: 8px;
        a{
            color: $black;
            text-decoration: underline;
        }
        .is-active{
            a{
                text-decoration: none;
            }
        }
    }

    .social-logo{
        height: 24px;
        padding: 0;
        margin-top: 8px;
        margin-right: 8px;
    }
	
}

.hidden-home{
    .breadcrumb{
        visibility: hidden;
    }
    h1{
        visibility: hidden;
    }
}

