
.navbar, .navbar-brand, .navbar-mid, .navbar-end{
	height: 56px;
	padding: 12px;
	background: transparent;
	// border-bottom: 1px solid $black;
	margin-bottom: 0px;
}

.border-bottom{
	border-bottom: 1px solid $black;
}

.brand-logo{
	height: 36px;
	padding-bottom: 2px;
}

.social-logo{
    height: 24px;
    padding: 0;
}


.second-row{
    padding-top: 0px !important;
    padding-right: 36px;
	.navbar-item, .navbar-end{
        padding-top: 16px;
        padding-left: 8px;
		padding-bottom: 0;
		height: 24px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}
	.navbar, .navbar-brand, .navbar-mid, .navbar-end{
		border: none;
    }
}

.navbar-home{
    position: absolute !important;
    width: 100%;

    .search{
        height: 36px;
        padding-bottom: 2px;
        padding-right: 36px;
    }

}

.navbar-general{
    width: 100%;
    .navbar-mid{
        padding-left: 3em;
    }

    .search{
        height: 36px;
        padding-bottom: 2px;
        padding-right: 0px;
    }

    .second-row{
        padding-right: 0px;
    }
}