.pagination-section{
    text-align: center;
    .page{
        font-size: 1.375rem;
        font-family: 'barlow';
        letter-spacing: 2.1px;
        line-height: 1.2;
        font-weight: 400;
    }

    .page-number{
        padding-left: 2.75rem;
    }

    .arrow-r{
        border: none;
        cursor: pointer;
        img{
            height: 26px;
            padding-left: 42px;
        }
    }

    .arrow-r:hover{
        color: $green;
    }

    .arrow-l{
        border: none;
        cursor: pointer;
        img{
            height: 26px;
            padding-right: 42px;
        }
    }

}