.project-carousel{

    padding-left: 3em;
    padding-top: 2em;

    // Left Side Starts Here

    .left-side{
      position: relative;
      margin-right: 1.5em;
    }


    // Right Side Starts Here

    .right-side{
      padding-right: 2.25em;
      padding-left: .5em;
    }

    .caption{
        font-family: 'Cormorant Garamond';
        font-size: 1.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        color: $black;
        padding-left: .5em;
        padding-right: .5em;
        padding-top: 1rem;
    }

    .title{
        font-family: 'AlethiaPro-Regular';
        font-size: 32px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: var(--black);
        padding-left: .5em;
        padding-right: .5em;
    }

    .pages{
        padding-top: 10%;

        font-family: 'Barlow';
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.95;
        letter-spacing: normal;
        text-align: left;
        color: $black;

        span{
            font-size: 1.25rem;    
        }
        padding-bottom: 18px;
        border-bottom: 1px solid $dark-grey;
        margin-bottom: 14px;
        padding-left: .5em;
        padding-right: .5em;
    }

    .share{
        padding-top: 56px;
        padding-left: .5rem;
        p{
            display: inline-block;
            font-family: 'Barlow';
            font-size: 1.25rem;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: 2px;
            text-align: left;
            color: $darkest-grey;

            padding-right: 1.5rem;
        }

        a{
            display: inline-block;
            padding-right: 1rem;
            height: 1.25rem;
        }
    }

    .close-btn{
      position: absolute;
      right: 2.25em;
      top: 2.25em;
      width: 36px;
    }

    .prev-slide{
      width: 64px;
      position: absolute;
      left: -3.5em;
      top: 40%;
      border: none;
      background-color: transparent;
    }

    .next-slide{
      width: 64px;
      position: absolute;
      right: -3.5em;
      top: 40%;
      border: none;
      background-color: transparent;
    }


    .prev-slide:focus,.next-slide:focus{
      outline: none;
    }

    .prev-slide:hover,.next-slide:hover{
      cursor: pointer;
    }


}
    

// Custom Style Starts Here 

