// Importing variables
@import './variables.scss';

// Importing React Burger Menu
@import './react-burger-menu.scss';



// Importing Bulma from node_modules
@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

// Importing Custom Style per-Component
@import './subscription.scss';
@import './footer.scss';
@import './listing.scss';

@font-face {
	font-family: "Regalis-Regular";
	src: url("../fonts/regalis-regular.otf");

	font-family: "Regalis-SemiCond";
	src: url("../fonts/regalis-semicond.otf");

	font-family: "Regalis-Medium";
	src: url("../fonts/regalis-medium.otf");

	font-family: "AlethiaPro-Regular";
	src: url("../fonts/alethia-pro-regular.woff");

	font-family: "AlethiaPro-Italic";
	src: url("../fonts/alethia-pro-italic.woff");
}

body{
	color: $black;
}

#hero-bottom{
	display: flex;
	align-items: flex-end;
	margin-bottom: 4rem;
	padding-left: 3rem;
}


.hero-title{
	font-family: "AlethiaPro-Regular";
	font-size: 55px !important;
	line-height: 60px !important;
	font-weight: 400 !important;
	padding-top: 8rem;
}

.hero-image {
	display: flex;
	background: url("../images/hero-1.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

.arrow-hero{
	width: 56px;
	padding-top: 1.75rem;
}

.see-all{
	height: 20px;
	margin-left: 8px;
	// padding-right: 1.5rem;
	// padding-top: 4px;
	// padding-bottom: 1rem;
}

.right{
	display: flex;
   	flex-direction: row;
   	justify-content: flex-end;
}

.top{
	display: flex;
	align-content: flex-start;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}



.navbar, .navbar-brand, .navbar-mid, .navbar-end{
	height: 64px;
	padding: 12px;
	background: transparent;
	// border-bottom: 1px solid $black;
	margin-bottom: 0px;
}

.border-bottom{
	border-bottom: 1px solid $black;
}

.secondrow{
	.navbar-item, .navbar-end{
		padding-top: 24px;
		padding-bottom: 0;
		height: 32px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.navbar, .navbar-brand, .navbar-mid, .navbar-end{
		border: none;
	}
}

.brand-logo{
	height: 36px;
}

.social-logo{
	height: 24px;
}


// Side Menu Section
.side-menu{
	max-width: 56px;
	background: $green;
	border-right: 1px solid $black;

	.chevron-menu{
		height: 20px;
		display: inline-block;
		margin-top: 4px;
	}

	.first-half{
		padding-top: 64px;
		// background-color: $darkest-green;
		// border-top: 300px solid $darkest-green;
		// margin-top: -300px;
		// border-bottom: 600px solid $darkest-green;
		// margin-bottom: -600px;
		// border-left: 100px solid $darkest-green;
		// margin-left: -100px;
	}

	.second-half{
		position: fixed;
		width: 68px;
		background: $medium-green;
		height: 100vh;
		top: -68px;
		top: 0;
		right: 0;
		border-left: 1px solid $white;
	}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
		text-align: left;
		// z-index: 2;

	}


	nav li{
		display: block;
		a{
			font-family: 'AlethiaPro-Regular';;
			font-size: 1.875rem;
			line-height: 1.53;
			letter-spacing: 1.5px;
			margin-bottom: .5rem;
			padding-top: 1rem;
		}
	}

	nav li:hover, nav li:active{
		border-bottom: 1px solid $white;
		
		a{color: $gold;}
	}

	no-bot-border:hover{
		border-bottom: 0px solid $white;
	}


	nav a{
		display: inline-block;
		
	}

	.menu-sub{
		position: absolute;
		left: 30%;
		width: 100%;
		display: none;
		padding: 2em 2em 2em 2em;
		li{
			border-bottom: 1px solid $white;
			margin-right: 84px;
		}

		margin-left: 120px;

		

		// background: $darker-green;
		// border-top: 300px solid $darker-green;
		// margin-top: -300px;
		// border-bottom: 600px solid $darker-green;
		// margin-bottom: -600px;
		// position: absolute;
   		// z-index: -1;
	}

	.menu-sub:first-of-type{
		padding-top: 0;
	}

	nav li:hover .menu-sub {
		display: block;
		a{
			font-size: 1.625rem;
			line-height: 1.73;
			color: $white;
		}

		a:hover{
			color: $gold;
		}

		a:first-of-type{
			padding-top: 8px;
		}

		.block-highlight{
			border-bottom: 0px solid $white;
			background: $darker-green;
		}
		.read-more{
			font-family: 'Barlow';
			font-size: 1rem;
			font-weight: 300;
			font-style: normal;
			letter-spacing: 2.25px;
			color: $white;
			border-bottom: 1px solid $white;
		  }

		.title{
			font-family: 'AlethiaPro-Regular';
			color: $white;
			font-size: 1.563rem;
			line-height: 1.2;
			background: none;
			margin-bottom: .5rem;
		}

		.highlight{
			font-family: 'Barlow';
			font-size: 0.813rem;
			color: $white;
			font-weight: 600;
			line-height: 2;
			padding-top: 1rem;
			  letter-spacing: 1.95px;
			  margin-bottom: 4px;
		}


	  }

	  .menu-sub li {
		display: block;
	  }

	  
}





// Single Post styling
.post-title{
	padding-top: 4rem;
	padding-left: 10%;
	padding-right: 10%;
	h1{
		font-family: 'AlethiaPro-Regular';
		font-size: 55px;
		line-height: 60px;
		text-align: center;
		margin-bottom: 0;
	}

	p{
		font-family: 'Barlow';
		color: $green;
		font-size: 1.25rem;
		font-weight: 600;
		margin-bottom: 12px;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.2;
		letter-spacing: 2.8px;
		margin-bottom: 1rem;
	}
}

.featured-image{
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.border-author{
	border-top: 1px solid $dark-grey;
	border-bottom: 1px solid $dark-grey;
	margin-top: 32px;
}

.border-gallery-thumb{
	border-top: 1px solid $dark-grey;
	border-bottom: 1px solid $dark-grey;
	padding-top: 32px;
	margin-bottom: 64px !important;
}

.border-tag{
	border-top: 1px solid $dark-grey;
	border-bottom: 1px solid $dark-grey;
	padding-top: 24px;
	padding-bottom: 24px;
	margin-bottom: 150px !important;
}


.proj-date{
	font-family: 'Barlow';
	color: $darkest-grey;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 600;
	letter-spacing: 1pt;
	color: $darkest-grey;
}

.proj-hour{
	@extend .proj-date;
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0;
}

.author{
	@extend .proj-date;
	text-align: right;
	font-weight: 500;
}

.quotes{
	font-family: 'AlethiaPro-Regular';
	font-size: 1.5rem;
	line-height: 1.25;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.second-post-title{
	font-family: 'AlethiaPro-Regular';
	font-size: 2rem;
	line-height: 1.5;
	text-align: left;
	margin-bottom: 0;
}


.gallery-title{
	font-family: 'BarlAlethiaPro-Regularow';
	color: $darkest-grey;
	font-size: 1.25rem;
	line-height: 1.5;
	letter-spacing: 2.4px;
	color: $darkest-grey;
	text-align: left;
}

.images-count{
	font-family: 'Barlow';
	color: $darkest-grey;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: normal;
 	letter-spacing: 2px;
	color: $darkest-grey;
	text-align: right;
}

.thumbnail-gallery{
	width: 100%;
	margin-bottom: 64px !important;
}

.see-all-thumb{
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;
	width: 100%;
	border: 1px solid $black;
	height: 100%;
	padding-left: 1rem;
	padding-bottom: 1rem;
	a{
		text-align: left;
		font-family: 'AlethiaPro-Regular';
		font-size: 1.5rem;
		line-height: 1.2;
		color: $black;
	}
	.image{
		height: 20px;
		margin-top: 40px;
	}
}

.see-all-thumb:hover{
	a{
		color: $green;
	}
}

.see-all-journal{
	@extend .see-all-thumb;
	height: 60%;
}

.body-post{
	padding-top: 2rem;
	padding-bottom: 3rem;
	p {
		font-family: 'AlethiaPro-Regular';
		font-size: 1.5rem;
		line-height: 1.5;
	}

	h2{
		font-family: 'AlethiaPro-Regular';
		font-size: 1.5rem;
		line-height: 1.2;
		  letter-spacing: 1.3px;
		  margin-bottom: 1rem;
	}
}

.tags .tag:not(:last-child){
	margin-right: 1rem;
}

.tag, .tag:not(body){
	height: 40px;
	border: solid 1px $dark-grey;
	background-color: $white;
	font-family: Barlow;
	font-size: 1rem;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
	color: $black;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	text-transform: uppercase;
	border-radius: 0;
}



// Custom Helper Class

.no-bot-padding{
	padding-bottom: 0 !important;
}

.no-bot-margin{
	margin-bottom: 0 !important;
}

.margin-bot-72{
	margin-bottom: 72px;
}

