// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

@font-face {
	font-family: "Regalis-Regular";
	src: url("../fonts/regalis-regular.otf");

	font-family: "Regalis-SemiCond";
	src: url("../fonts/regalis-semicond.otf");
}

#hero-bottom{
	display: flex;
	align-items: flex-end;
	margin-bottom: 4rem;
	padding-left: 3rem;
}


.hero-title{
	font-family: "Regalis-Regular";
	font-size: 55px !important;
	line-height: 60px !important;
	font-weight: 400 !important;
	padding-top: 8rem;
}

.hero-image {
	display: flex;
	background: url("../images/hero-1.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

.arrow-hero{
	width: 56px;
	padding-top: 1.75rem;
}

.see-all{
	height: 20px;
	margin-left: 8px;
	// padding-right: 1.5rem;
	// padding-top: 4px;
	// padding-bottom: 1rem;
}

.right{
	display: flex;
   	flex-direction: row;
   	justify-content: flex-end;
}

.top{
	display: flex;
	align-content: flex-start;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}


.project-list-title{
	padding-left: 4.5rem;
	padding-right: 4.5rem;
	padding-bottom: 0;
	.featured-heading{
		border-bottom: 1px solid $black;
		h2{
			font-family: 'Regalis-Regular';
			font-size: 48px;
			line-height: 60px;
		}
		padding-bottom: 12px;
		margin-bottom: 0px;
		button,a{
			font-family: 'Barlow';
			font-size: 20;
			line-height: 24px;
			color: $black;
			border: 1px solid $black;
			border-radius: 0;
			.icon{
				color: $black;
			}
		}
	}
}
.project-thumbnail{
	padding-left: 4.5rem;
	padding-right: 4.5rem;
	// padding-top: 0rem;
	padding-bottom: 0rem;

	.column{
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.card{
		box-shadow: none;
		padding-left: 0;
		margin-bottom: 1.75rem;
	}

	.card-content{
		padding-top: 1.5rem;
	}

	.proj-cat{
		font-family: 'Barlow';
		color: $grey;
		font-size: 12px;
		line-height: 1.5;
		font-weight: 600;
		margin-bottom: 12px;
		letter-spacing: 1pt;
		text-transform: uppercase;
	}
	.proj-title{
		font-family: 'Regalis-Regular';
		color: $black;
		font-size: 28px;
		line-height: 32px;
		font-weight: 500;
	}

	.featured-proj-title{
		@extend .proj-title;
		font-size: 40px;
		line-height: 44px;
	}

	

}

.navbar, .navbar-brand, .navbar-mid, .navbar-end{
	height: 64px;
	padding: 12px;
	background: transparent;
	// border-bottom: 1px solid $black;
	margin-bottom: 0px;
}

.border-bottom{
	border-bottom: 1px solid $black;
}

.secondrow{
	.navbar-item, .navbar-end{
		padding-top: 24px;
		padding-bottom: 0;
		height: 32px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.navbar, .navbar-brand, .navbar-mid, .navbar-end{
		border: none;
	}
}

.brand-logo{
	height: 36px;
}

.social-logo{
	height: 24px;
}


// Side Menu Section
.side-menu{
	max-width: 56px;
	background: $green;
	.section{
		padding-top: 24px;
		padding-left: .75rem;
		padding-right: .75rem;
	}
}

.menu-icon{
	// width: 32px !important;
}



// Single Post styling
.post-title{
	padding-top: 4rem;
	padding-left: 10%;
	padding-right: 10%;
	h1{
		font-family: 'Regalis-Regular';
		font-size: 55px;
		line-height: 60px;
		text-align: center;
		margin-bottom: 0;
	}
	p{
		font-family: 'Barlow';
		color: $grey;
		font-size: 12px;
		line-height: 1.5;
		font-weight: 600;
		margin-bottom: 12px;
		letter-spacing: 1pt;
		text-transform: uppercase;
		text-align: center;
	}
}

.featured-image{
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.proj-date{
	font-family: 'Barlow';
	color: $dark-grey;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 600;
	letter-spacing: 1pt;
}

.proj-hour{
	@extend .proj-date;
	font-size: 1rem;
	font-weight: 500;
}

.author{
	@extend .proj-date;
	text-align: right;
	font-weight: 500;
}

.body-post{
	padding-top: 2rem;
	padding-bottom: 4rem;
	p {
		font-family: 'Regalis-SemiCond';
		font-size: 1.5rem;
		line-height: 1.5;
	}
}