// VARIABLES

$primary-color: #2980b9;
$secondary-color: #6dd5fa;
$white: #ffffff;
$black: #000000;
$light-grey: #E2E2E2;
$medium-grey: #8D8D8D;
$dark-grey: #707070;
$darkest-grey: #505050;
$green: #1C6862;
$medium-green: #124642;
$darker-green: #103330;
$darkest-green: #0D2422;
$dark-pink: #B16C73;
$brown: #382025;
$gold: #DCB476;
